.react-tabs-layout-vertical{
  >.react-tabs-menu{
    position: fixed;
    left:0;right:0;
    >.scroller{
      -webkit-overflow-scrolling: touch;
      width:102%;
      height: 44px;
      line-height: 44px;
      >.item{
        float: left;
      }
    }
  }
  >.react-tabs-body{
    padding-top: 44px;
    >.item{
      display: none;
      &.active{
       display: block;
      }
    }
  }
}
